body{
    background-color: bisque;
    margin-top: 2em;
    margin-bottom: 4em;
}
.api-logo1{
    width:10em;
    height:10em;
}
.mikrotik-margin-left{
    margin-left: 13em;
}
.mikrotik-margin-left-cart{
    margin-left: 17em;
}
.img-fluid{
    margin-top: 1em;
}
.color-custom{
    background-color:burlywood !important;
}