
    @import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

    nav {
        margin-bottom: 3em;
        border-bottom: rgb(0, 76, 255) 0.1em solid;
    }

    #my-carousel {
        margin-top: 3em;
    }

    #products {
        background-color: #f2f2f2;
    }

    body {
        font-family: 'Prompt', sans-serif !important;
        background-color: #ffffff;
        /* background-image: url('img/animal-dawn-desktop-backgrounds-875858.jpg');
        background-repeat: no-repeat;
        background-size: cover; */
    }

    h3 {
        color: #0066ff;
        text-align: center;
        padding: 0.5em;
        font-weight: bold;
    }

    h3:hover {
        color: #ff6600;
    }

    footer {
        font-family: 'Prompt', sans-serif !important;
        padding-top: 60px;
        background-color: #494949;
        height: 250px;
        border-bottom: red 0.1em solid;
    }

    h1 {
        color: #0066ff;
        text-align: center;
        padding: 20px;
        font-weight: bold;
    }

    h1:hover {
        color: #ff6600;
    }

    h2>a {
        color: white;
        text-transform: capitalize;
        font-size: 24px;
        float: left;
        font-family: 'Open Sans';
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none !important;
        padding-left: 1em;
    }

    p {
        color: black;
        text-align: center;
    }
    #py{
        text-align: left;
    }

    hr {
        border-top: 1px solid rgba(210, 90, 90, 0.1);
        width: 100%;
    }

    .fa {
        padding-top: 10px;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
    }

    .social .fa {
        padding-top: 20px;
        font-size: 30px;
        transition: .9s;
    }

    .social .fa:hover {
        transition: 1s;
        transform: scale(1.1);
        color: #ddd;
    }

    @media(max-width: 768px) {
        footer {
            height: auto !important;
        }

        h2 {
            font-size: 30px;
        }
    }

    label.error {
        position: absolute;
        background: #ee0101;
        background: rgba(238, 1, 1, 0.80);
        padding: 2px 5px;
        top: -15px;
        left: 15px;
        color: #fff;
        font-size: 11px;
        font-weight: normal;
        display: inline-block;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
        z-index: 5;
    }

    label{
        color: black;
    }
    label.error:before {
        content: "";
        border: 4px solid transparent;
        border-top: 4px solid #ee0101;
        border-top: 4px solid rgba(238, 1, 1, 0.80);
        position: absolute;
        bottom: -8px;
    }

    .bg-info {
        background-color: #3399ff !important;
        color: #ffffff !important;
    }

    input.username_color,
    input.password_color {
        border: 1px #b0b0b1 solid;
    }

    .active_cus{
        border: none;
        outline: none;
        padding: 10px 5px;
        background-color: #ff8a2b;
        cursor: pointer;
    }
    .nav-item:hover {
        border: none;
        outline: none;
        padding: 10px 5px;
        background-color:#46a5ff;
        cursor: pointer;
    }

    .nav-item {
        border: none;
        outline: none;
        padding: 10px 5px;
        cursor: pointer;
    }

    .margin-top {
        margin-top: 5em;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    input {
            color: black;
    }
