@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
table {
    width: 100%;
    background-color: rgb(248, 248, 248);
}
th,td {
    text-align: center !important; 
}
tr {
    height: 25px;   
}
th {
    color:#585858 !important;
}
body{
    background: rgb(243, 244, 246) !important;
    font-family: 'Prompt', sans-serif !important;
}
h2 {
    color: rgb(0, 0, 0);
    text-shadow: 3px 5px 10px rgb(116, 116, 116);
    font-weight: bold;
}
#DATE{
    color:white !important;
    font-weight: bold;
}
.box {
    padding: 20px;
    background-color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
        -moz-box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
}
.box-1 {
    padding: 10px;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
        -moz-box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
}
.box-2 {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
        -moz-box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.66);  
}
.aa{
    background-color:#99ccff;
}
input[type=search]{
    width: 450px !important;
}
.pad-a {
    background-color:#ffb006;
}
.modal-body>p {
    font-size: 20px;
    font-style: italic;
}
label {
    color: black;
}
p {
    color: black;
}
@keyframes check {0% {height: 0;width: 0;}
25% {height: 0;width: 10px;}
50% {height: 20px;width: 10px;}
}
.checkbox{background-color:rgb(255, 255, 255);display:inline-block;height:28px;margin:0 .25em;width:28px;border-radius:4px;border:1px solid #ccc;}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .danger:after{border-color:#f44336}

#btn_padding{
    margin: 10px;
}
.order-card {
    color: #fff;
}
.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}
.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card .card-block {
    padding: 25px;
}
.order-card i {
    font-size: 26px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
#changpw {
    background-color:#f1f1f1;
}
label.error {
    position: absolute;
    background: #ee0101;
    background: rgba(238, 1, 1, 0.80);
    padding: 2px 5px;
    top: -15px;
    left: 15px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
    z-index: 5;
}
label.error:before {
        content: "";
        border: 4px solid transparent;
        border-top: 4px solid #ee0101;
        border-top: 4px solid rgba(238, 1, 1, 0.80);
        position: absolute;
        bottom: -8px;
}
