@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

html{
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}
nav {
    border-top: rgb(78, 255, 187) 0.3em solid;
}
/* .carousel-custom {
    margin-top: 5em;
} */

#my-carousel {
    margin-top: 1em;
}

#products {
    background-color: #f2f2f2;
}
.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
.nav-link>.fas{
    padding-left:5px;
}
/* .mb-5-c{
    margin-bottom: 5rem!important; 
} */
/* nav.bg-light {
    background-image: linear-gradient(to left, #0062cd, #0087e7, #00a9f5, #00cafc, #00e9ff) !important;
} */

body {
    font-family: 'Prompt', sans-serif !important;
    background-color: #ffffff;
    margin-bottom: 50px;
}

#indexbg {
    background-color: #f1f1f1 !important;
}

/* .bgoverlay {
    background-color: rgba(216, 216, 216, 0.5);
    max-height: 700px;
} */

.bgwi {
    color: red;
    background-color: #ffffff !important;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
}

.row>.bgoverlay>.bgwi>#h1hd {
    color:#626262;
}

.navbar-dark .navbar-nav .nav-link {
    color: #757575 !important;
}

h3 {
    color: #dc3545;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

h3:hover {
    color: #ff6600;
}

footer {
    position: absolute;
    height: 50px;
    background-image: linear-gradient(to left, #0062cd, #0087e7, #00a9f5, #00cafc, #00e9ff) !important;
    border-bottom: red 0.3em solid;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    
}
p#fonbt{
    font-family: 'Prompt', sans-serif !important;
    margin-bottom: 0;
    padding: 5px;
}
h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h1:hover {
    color: #ff6600;
}

h2>a {
    color: white;
    text-transform: capitalize;
    font-size: 24px;
    float: left;
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none !important;
    padding-left: 1em;
}

p {
    color: rgba(12,12,12,0.8);
    text-align: center;
}

#py {
    text-align: left;
}

hr {
    border-top: 1px solid rgba(210, 90, 90, 0.1);
    width: 100%;
}

.modalx {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url('../img/Dual-Ring-1s.gif') 50% 50% no-repeat;
    overflow: hidden;
    display: block;
}

.fa {
    padding-top: 10px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.social .fa {
    padding-top: 20px;
    font-size: 30px;
    transition: .9s;
}

.social .fa:hover {
    transition: 1s;
    transform: scale(1.1);
    color: #ddd;
}

/* .p-3 {
    margin-top: 1em;
} */

.card-custom {
    height: 37em;
}

.topnav input[type=text] {
    padding: 9.3px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 1em 0 0 1em;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius:0 1em 1em 0;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media(max-width: 768px) {
    footer {
        height: auto !important;
    }

    h2 {
        font-size: 30px;
    }

    /* .carousel-custom {
        margin-top: 6em;
    } */

    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
    .nav-link>.fas{
        padding-left:1em;
    }
    .navbar-cus{
        margin-right: 0;
        margin-left: 0;
    }
    .topnav input[type=text] {
        padding: 9.3px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-radius: 1em 1em 1em 1em;
    }
    
    .topnav .search-container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-radius:1em 1em 1em 1em;
    }
}

label.error {
    position: absolute;
    background: #ee0101;
    background: rgba(238, 1, 1, 0.80);
    padding: 2px 5px;
    top: -15px;
    left: 15px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
    z-index: 5;
}

label {
    color: black;
}

label.error:before {
    content: "";
    border: 4px solid transparent;
    border-top: 4px solid #ee0101;
    border-top: 4px solid rgba(238, 1, 1, 0.80);
    position: absolute;
    bottom: -8px;
}

.bg-info {
    background-color: #3399ff !important;
    color: #ffffff !important;
}

input.username_color,
input.password_color {
    border: 1px #b0b0b1 solid;
}

.active_cus {
    border: none;
    outline: none;
    /* padding: 10px 5px;
    background-color: #409fff; */
    cursor: pointer;
    border-radius: 1em;

}

.nav-item:hover {
    border: none;
    outline: none;
    /* padding: 10px 5px;
    background-color: #46a5ff; */
    cursor: pointer;
}

.nav-item {
    border: none;
    outline: none;
    /* padding: 10px 5px; */
    cursor: pointer;
    border-radius: 1em;
}

/* .margin-top {
    margin-top: 5em;
} */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input {
    color: black;
}
.g-recaptcha{
    padding-top: 10px;
}
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(0,0,0,.075);
    /* Set a background color */
    color:#333;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    /* padding: 15px; */
    /* Some padding */
    border-radius: 100px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    width: 50px;
    padding: 15px;
}

.pagination{
    padding-bottom: 3em;
}
#myBtn:hover {
    background-color:rgba(0,0,0,.075);
    /* Add a dark-grey background on hover */
    color: #ffffff;
}
 .bt-s{
     margin-top: -1em;
 }
/* .iocp {
    padding: 0.5em;
} */

/* body {
    padding-top: 35px;
} */
.navbar-cus{
    margin-right: 10%;
    margin-left: 10%;
}
.api-logo1{
    width:50px;
    height:50px;
}
nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-brand {
    font-size: 30px;
}

nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
    height: auto;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

nav.shrink .navbar-collapse.collapse {
    height: initial !important;
}

.fa-home {
    color: #ff599e;
}

.fa-product-hunt {
    color: #ff9148;
}

.fa-shopping-cart {
    color: #4cfdb3;
}

.fa-clipboard-check {
    color: #fde457;
}

.fa-laugh-wink {
    color: #44fd82;
}

.fa-sign-in-alt {
    color: #48ffc2;
}

.fa-registered {
    color: #fde457;
}

.fa-arrow-circle-right {
    color: #4b4b4b;
}

.btn-dark-cus {
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-dark-cus:hover,
.btn-secondary-cus:hover,
.btn-success-cus:hover,
.btn-danger-cus:hover {
    background: #f1f1f1;
}

.btn-secondary-cus {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-success-cus {
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-danger-cus {
    background: #74ebd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input-group>.ipf {
    margin-top: 2em;
}

.ipt {
    margin-top: 2em;
}