RewriteEngine on
#home
RewriteRule ^home?$ index.php
RewriteRule ^item?$ products.php
RewriteRule ^cart?$ cart.php
RewriteRule ^transfer?$ transfer.php
RewriteRule ^register?$ register.php
RewriteRule ^login?$ login.php
RewriteRule ^checkout?$ payment.php

RewriteRule ^cart/product/([0-9]+) cart.php?id=$1

RewriteRule ^register/true register.php?order=true&regis=fasle

RewriteRule ^cart/product/remove cart.php?sts=dest

RewriteRule ^register/false register.php?order=false

#siteadmin
RewriteRule ^admin/dashboard?$ admin/dashboard.php
RewriteRule ^admin/user_register?$ admin/site_register.php
RewriteRule ^admin/order_list?$ admin/order_list.php
RewriteRule ^admin/check_payment?$ admin/checkpayment.php
RewriteRule ^admin/user_success?$ admin/manage.php
RewriteRule ^admin/order_upgrade?$ admin/order_upgrade.php
RewriteRule ^admin/user_online?$ admin/useronline.php
RewriteRule ^admin/products_list?$ admin/products.php
RewriteRule ^admin/report?$ admin/report.php
RewriteRule ^admin/login?$ admin/login.php

RewriteRule ^siteadmin/connect_status?$ siteadmin/connectstatus.php
RewriteRule ^siteadmin/invoice?$ siteadmin/invoice.php
RewriteRule ^siteadmin/order_report?$ siteadmin/order_report.php

RewriteRule ^employee/employee_status?$ employee/employee.php
RewriteRule ^employee/chang_password?$ employee/changpwemp.php

RewriteRule ^password_reset?$ process/main_site/password_reset.php
RewriteRule ^password_verified/(.*)/(.*)/(.*) process/main_site/password_verified.php?user=$1&date=$2&lv=$3
#RewriteRule ^password_verified/([A-Za-z0-9-_]+) process/main_site/password_verified.php?user=$1
#RewriteRule ^process/site_admin/print_invoice_process/id/([0-9]+) process/site_admin/print_invoice_process.php?id=$1
